<!DOCTYPE html>
<html>
  <head>
    <title>Locale kit</title>
    <%= stylesheet_link_tag    "locale_kit/application", media: "all" %>
    <%= javascript_include_tag "locale_kit/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
